if SOC_SERIES_STM32U5X

if LVGL

config LV_USE_DRAW_DMA2D
	default y

config LV_DRAW_DMA2D_HAL_INCLUDE
	default "stm32u5xx_hal.h"

config STM32_LTDC_FB_NUM
	default 2

config LV_Z_VDB_SIZE
	default 100

config LV_Z_DOUBLE_VDB
	default y

endif # LVGL

endif # SOC_SERIES_STM32U5X
